# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

# Output of the go build command
/crop-inventory-service
/bin/

# IDE specific files
.idea/
.vscode/
*.swp

# OS specific files
.DS_Store
Thumbs.db